body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #6b4444;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures the menu is on top of other content */
  }
  
  #navbar {
    text-align: center;
  }
  
  #navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #navbar ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  #navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #navbar ul li a:hover {
    background-color: #120303;
  }
  
  /* Styling when scrolled */
  .scrolled {
    background-color: #b00e0e;
    transition: background-color 0.3s;
  }
  